{% extends 'ultimatix/admin/adminbase.html'%}

{%block body %}
<h2 class="w3ls_head">Upload Attendance</h2>
<div class="grid_3 grid_4 w3layouts position-center">
<!--<h1>{{eid}}</h1>-->
    <div class="bs-example">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <form action="#" method="post" class="position-center">
                            {% csrf_token%}
            {% if error %}
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="alert alert-danger" id="error">
                        <strong>Danger!</strong>{{error}}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            {% elif success %}
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="alert alert-success" id="success">
                        <strong>Success!</strong>{{success}}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            {%endif%}
            <div class="form-group row">

                <label for="tle">Name</label>
                <input type="text" class="form-control" name="tle" id="tle" required>

            </div>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
	$('#attendance').addClass("active");
	$('#attendance_mark').addClass("active");
});
</script>
{%endblock%}