{% extends 'ultimatix/admin/adminbase.html'%}

{%block body %}
<style>
	.img{
	width:400px;
	height:400px;
	}

</style>

		<!--<h2 class="w3ls_head">Tata Consultacy Services Pvt Ltd.</h2>-->
			<div class="grid_3 grid_4 w3layouts position-center">
<!--				<h3 class="hdg">Headings</h3>-->
				<div class="bs-example" >
					<!--<table class="table">
						<tbody>
							<tr>
								<td><h1 id="h1.-bootstrap-heading">h1. Bootstrap heading<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
								<td class="type-info">Semibold 36px</td>
							</tr>
							<tr>
								<td><h2 id="h2.-bootstrap-heading">h2. Bootstrap heading<a class="anchorjs-link" href="#h2.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h2></td>
								<td class="type-info">Semibold 30px</td>
							</tr>
							<tr>
								<td><h3 id="h3.-bootstrap-heading">h3. Bootstrap heading<a class="anchorjs-link" href="#h3.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h3></td>
								<td class="type-info">Semibold 24px</td>
							</tr>
							<tr>
								<td><h4 id="h4.-bootstrap-heading">h4. Bootstrap heading<a class="anchorjs-link" href="#h4.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h4></td>
								<td class="type-info">Semibold 18px</td>
							</tr>
							<tr>
								<td><h5 id="h5.-bootstrap-heading">h5. Bootstrap heading<a class="anchorjs-link" href="#h5.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h5></td>
								<td class="type-info">Semibold 14px</td>
							</tr>
							<tr>
								<td><h6>h6. Bootstrap heading</h6></td>
								<td class="type-info">Semibold 12px</td>
							</tr>
						</tbody>
					</table>-->
					{%for n in news%}

					  <div class="card" style="">
						  {%if n.head %}
						<div class="card-header"><h2>{{n.head}}</h2><br></div>
						  {%endif%}
    					<div class="card-body" style="border:2px solid black;">
							<img src="{{n.img.url}}" style="border-radius: 2px;" width="100%"></div>
					  </div>
					<div class="card-footer">
						<br><p style="text-align: justify;line-height: 160%;color:black">{{n.desc}}</p>
					</div>

					{%endfor%}

				</div>
			</div>
<script>
$(document).ready(function(){
$('#home').addClass("active");


	{% if user.e_img %}
	var imgurl="{{user.e_img.url}}";
	$('#user_img').attr('src',imgurl);
	{%endif%}

	var fname="{{user.e_fname}}";
    {% if user.e_lname %}
    var lname="{{user.e_lname}}";
    var flname=fname+" "+lname
    {%else%}
    var flname=fname;
    {% endif %}
    $('#username').text(flname);
});
</script>
{% endblock %}