{% extends 'ultimatix/admin/adminbase.html'%}

{%block body %}
<h2 class="w3ls_head">Employee Allocation</h2>
<div class="grid_3 grid_4 w3layouts position-center">
<!--<h1>{{eid}}</h1>-->
    <div class="bs-example">
        <form action="{% url 'ultimatix:emp_allocate'%}" method="post" id="allocate_form" allocate-emp-url="{%url 'ultimatix:emp_allocate' %}">
            {% csrf_token%}
            {% if error %}
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="alert alert-danger" id="error">
                        <strong>Danger!</strong>{{error}}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            {% elif success %}
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="alert alert-success" id="success">
                        <strong>Success!</strong>{{success}}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            {%endif%}
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="project_select">Choose Project</label>
                </div>
                <div class="col-md-6">
                    <select  title="Choose Project" class="form-control" name="project_select" id="project_select" required>
                        {% for p in pobj%}
                        <option value="{{p.ptitle}}">{{p.pid}}</option>
                        {%endfor%}
                    </select>
                    <input type="hidden" value="" id="pid" name="pid">
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="pname">Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="pname" id="pname" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="desig_select">Choose Designation</label>
                </div>
                <div class="col-md-6">

                    <select  title="Choose Designation" class="form-control" name="desig_select" id="desig_select" required>
                        <!--<option value="0">All</option>-->
                        {% for d in dobj%}
                        <option value="{{d.d_id}}">{{d.d_cd}}</option>
                        {%endfor%}
                    </select>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="emp_select">Employee</label>
                </div>
                <div class="col-md-6">
                    <select  title="Choose Employee" class="form-control" name="emp_select" id="emp_select" required>
                        {% for e in eobj%}
                        <option value="{{e.ename}}">{{e.eid}}</option>
                        {%endfor%}
                    </select>
                    <input type="hidden" value="" id="eid" name="eid">
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="empname">Employee Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="empname" id="empname" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="role_select">Project Role</label>
                </div>
                <div class="col-md-6">
                    <select  title="Choose Employee" class="form-control" name="role_select" id="role_select" required>
                        {% for r in robj%}
                        <option value="{{r.r_id}}">{{r.r_cd}}</option>
                        {% endfor%}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary form-control" value="submit" name="submit" id="submit" >Allocate</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
</div>

<script>
$(document).ready(function(){
	$('#project').addClass("active");
	$('#emp_alloc').addClass("active");

    $('#pname').val(($("#project_select").val()));
    $('#pid').val($('#project_select').children("option:selected").text());

    $('#empname').val(($('#emp_select').children("option:selected").val()));
    $('#eid').val(($('#emp_select').children("option:selected").text()))

    $("#project_select").change(function(){
	    $('#pname').val(($("#project_select").val()));
	    $('#pid').val($(this).children("option:selected").text());
	});

    $("#emp_select").change(function(){
    $('#empname').val(($(this).children("option:selected").val()));
    $('#eid').val(($('#emp_select').children("option:selected").text()))
	});


    $("#desig_select").change(function(){
        var desig_cd=$("#desig_select option:selected").text();
        if(desig_cd=='HR' || desig_cd=='HR-M'){
            $('#role_select')[0].selectedIndex = 11;
        }else{
          $('#role_select')[0].selectedIndex = 0;
        }
	    var desid=$("#desig_select").val();
        var url = $("#allocate_form").attr("allocate-emp-url");
        $.ajax({
		    url: url,
		    method: 'GET',
		    data: {
			    desid: desid
			},
		    success: function(data){
            $("#emp_select").empty();
                for(i=0;i<data.length;i++){
                $("#emp_select").append(new Option(data[i].eid,data[i].ename));
                }
                $('#empname').val($("#emp_select option:first").val());
                $('#eid').val(($('#emp_select').children("option:selected").text()))
		    }
        });
	});

    var fname="{{user.e_fname}}";
    {% if user.e_lname %}
    var lname="{{user.e_lname}}";
    var flname=fname+" "+lname
    {%else%}
    var flname=fname;
    {% endif %}
    $('#username').text(flname);

    $("#submit").click(function(){
        var f=0;
        desig_cd=$("#desig_select option:selected").text();
        role_cd=$("#role_select option:selected").text();
        if(desig_cd=='HR' || desig_cd=='HR-M') {

            if(role_cd!='MNG'){
                alert('Project role must be MNG for HR employees');
                f=1;
            }
        }

        if(f!=1){
            desig_cd=$("#desig_select option:selected").text();

            pname=$('#pname').val();
/*            alert(desig_cd);
            alert(pname);*/
            var t=0;
            var d=['SC','PC','VP','CEO','HR-M'];
            for(var i=0;i<d.length;i++){
                if(desig_cd==d[i]){
                    t=1;
                }
            }
            if(t==1 && pname!='TCS - MNG'){
                    alert('Choose TCS Management Project - 1006 (TCS - MNG) for single level employees');
                    f=1;
            }
            if(t==0 && pname=='TCS - MNG'){
                    alert('Choose TCS Management Project - 1006 (TCS - MNG) for single level employees');
                    f=1;
            }
        }
        if(f==1){
		event.preventDefault();
        }

    });

});
</script>
{%endblock%}