{% extends 'ultimatix/admin/adminbase.html'%}

{%block body %}
<h2 class="w3ls_head">Manage News Feed</h2>
<div class="grid_3 grid_4 w3layouts">
    <div class="bs-example">
        <form>

        </form>
    </div>
</div>

<script>
$(document).ready(function(){
	$('#settings').addClass("active");
	$('#news').addClass("active");

	    var fname="{{user.e_fname}}";
    {% if user.e_lname %}
    var lname="{{user.e_lname}}";
    var flname=fname+" "+lname
    {%else%}
    var flname=fname;
    {% endif %}
    $('#username').text(flname);
});
</script>
{%endblock%}